.header {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  border: 3px solid var(--header-outline);
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.3rem;
  line-height: 1;
  text-align: center;
}

.logo {
  width: 16rem;
  height: 12rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
}

.score {
  background-color: var(--bg-score);
  border-radius: 1rem;
  padding: 1.8rem 5rem;
}

.score__heading {
  color: var(--score-text);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.score__text {
  color: var(--header-outline);
  font-size: 5.4rem;
  font-weight: 700;
}

@media (max-width: 500px) {
  .header {
    padding: 1rem 1rem 1rem 2rem;
  }

  .score {
    padding: 1.4rem 2.2rem;
  }
  .score__heading {
    font-size: 1rem;
  }

  .score__text {
    font-size: 3.2rem;
  }

  .logo {
    width: 9rem;
    height: 5rem;
  }
}
