.picker {
  width: 100%;
  position: relative;
  width: 34rem;
  height: 31rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 650px) {
  .picker__bg {
    width: 22rem;
    height: 20rem;
  }
}
