/* Default mode */

.chip {
  border-radius: 50%;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: 22px solid transparent;

  background-origin: border-box;
  background-clip: content-box, border-box;

  transition: all 0.3s ease;
}

.chip__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-score);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: inset 0 9px 0 0 rgb(199 201 208);
  transition: all 0.3s ease;
}

.chip:active .chip__img {
  box-shadow: inset 0 0 0 0 rgb(199 201 208);
}

.chip__img img {
  transform: scale(1.4);
  transition: transform 0.3s ease;
}

.chip:hover .chip__img img {
  transform: scale(1.6);
}

.rock {
  top: 60%;
  left: 14%;

  background-image: linear-gradient(transparent, transparent),
    radial-gradient(
      circle at top left,
      var(--rock-gradient-1),
      var(--rock-gradient-2)
    );

  box-shadow: 0 9px 0 0 #9c1731;
}

.chip.rock:active {
  box-shadow: 0 0px 0 0 #9c1731;
  transform: translateY(7px);
}

.scissors {
  top: -47%;
  right: -40%;

  background-image: linear-gradient(transparent, transparent),
    radial-gradient(
      circle at top left,
      var(--scissors-gradient-1),
      var(--scissors-gradient-2)
    );

  box-shadow: 0 9px 0 0 #cb6d1d;
}

.chip.scissors:active {
  box-shadow: 0 0px 0 0 #cb6d1d;
  transform: translateY(7px);
}

.paper {
  top: -47%;
  left: -40%;

  background-image: linear-gradient(transparent, transparent),
    radial-gradient(
      circle at top left,
      var(--paper-gradient-1),
      var(--paper-gradient-2)
    );

  box-shadow: 0 9px 0 0 #2a45c3;
}

.chip.paper:active {
  box-shadow: 0 0px 0 0 #2a45c3;
  transform: translateY(7px);
}

.lizard {
  background-image: linear-gradient(transparent, transparent),
    radial-gradient(
      circle at top left,
      var(--liazrd-gradient-1),
      var(--liazrd-gradient-2)
    );

  box-shadow: 0 9px 0 0 #6439b3;
}

.chip.lizard:active {
  box-shadow: 0 0px 0 0 #6439b3;
  transform: translateY(7px);
}

.spock {
  background-image: linear-gradient(transparent, transparent),
    radial-gradient(
      circle at top left,
      var(--spock-gradient-1),
      var(--spock-gradient-2)
    );

  box-shadow: 0 7px 0 0 #2d8dab;
}

.chip.spock:active {
  box-shadow: 0 0px 0 0 #2d8dab;
  transform: translateY(7px);
}

/* Bonus mode */

.chip.bonus {
  border: 15px solid transparent;
}

.bonus .chip__img {
  width: 11rem;
  height: 11rem;
  box-shadow: inset 0 5px 0 0 rgb(199 201 208);
}

.bonus.rock {
  top: 73%;
  left: 56%;
  box-shadow: 0 7px 0 0 #9c1731;
}
.bonus.scissors {
  top: -19%;
  right: 30%;
  box-shadow: 0 7px 0 0 #cb6d1d;
}
.bonus.paper {
  top: 17%;
  left: 75%;
  box-shadow: 0 7px 0 0 #2a45c3;
}
.bonus.lizard {
  top: 73%;
  left: 0%;
  box-shadow: 0 7px 0 0 #6439b3;
}
.bonus.spock {
  top: 17%;
  right: 75%;
  box-shadow: 0 7px 0 0 #2d8dab;
}

.bonus .chip__img img {
  transform: scale(1);
}

.chip.bonus:hover .chip__img img {
  transform: scale(1.1);
}

/* Result */
.result {
  pointer-events: none;
  transition-property: none;
}

.chip.result {
  position: initial;
  border: 35px solid transparent;
  cursor: initial;
}

.result .chip__img {
  width: 22rem;
  height: 22rem;
  box-shadow: inset 0 10px 0 0 rgb(199 201 208);
}

.result .chip__img img {
  transform: scale(1.8);
}

.chip.resul:active {
  transform: translateY(0px);
}

.result.rock {
  box-shadow: 0 10px 0 0 #9c1731;
}

.result.scissors {
  box-shadow: 0 10px 0 0 #cb6d1d;
}

.result.paper {
  box-shadow: 0 10px 0 0 #2a45c3;
}

.result.lizard {
  box-shadow: 0 10px 0 0 #6439b3;
}

.result.spock {
  box-shadow: 0 10px 0 0 #2d8dab;
}

@media (max-width: 930px) {
  .result .chip__img {
    width: 15rem;
    height: 15rem;
    box-shadow: inset 0 5px 0 0 rgb(199 201 208);
  }

  .chip.result {
    border: 20px solid transparent;
  }

  .result .chip__img img {
    transform: scale(1.4);
  }
  .result.rock {
    box-shadow: 0 7px 0 0 #9c1731;
  }

  .result.scissors {
    box-shadow: 0 7px 0 0 #cb6d1d;
  }

  .result.paper {
    box-shadow: 0 7px 0 0 #2a45c3;
  }

  .result.lizard {
    box-shadow: 0 7px 0 0 #6439b3;
  }

  .result.spock {
    box-shadow: 0 7px 0 0 #2d8dab;
  }
}

@media (max-width: 650px) {
  /* Default mode */
  .chip {
    border: 15px solid transparent;
  }

  .chip__img {
    width: 10rem;
    height: 10rem;
  }

  .chip__img img {
    transform: scale(0.9);
  }

  .paper {
    top: -10%;
    left: -6%;
  }

  .scissors {
    top: -10%;
    right: -6%;
  }

  .rock {
    top: 60%;
    left: 26%;
  }

  /* Bonus mode */

  .chip.bonus {
    border: 10px solid transparent;
  }
  .bonus .chip__img {
    width: 8rem;
    height: 8rem;
  }

  .bonus .chip__img img {
    transform: scale(0.75);
  }

  .bonus.rock {
    top: 65%;
    left: 56%;
  }
  .bonus.scissors {
    top: 3%;
    right: 34%;
  }
  .bonus.paper {
    top: 25%;
    left: 70%;
  }
  .bonus.lizard {
    top: 65%;
    left: 14%;
  }
  .bonus.spock {
    top: 25%;
    right: 70%;
  }

  /* Result  */
  .result .chip__img {
    width: 10rem;
    height: 10rem;
  }

  .chip.result {
    border: 15px solid transparent;
  }

  .result .chip__img img {
    transform: scale(0.9);
  }
}
