.picker {
  width: 100%;
  position: relative;
  width: 28rem;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 1s ease;
}

@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 650px) {
  .picker__bg {
    width: 18rem;
    height: 16rem;
  }
}
