@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */

  --scissors-gradient-1: hsl(39, 89%, 49%);
  --scissors-gradient-2: hsl(40, 84%, 53%);
  --papper-gradient-1: hsl(230, 89%, 62%);
  --papper-gradient-2: hsl(230, 89%, 65%);
  --rock-gradient-1: hsl(349, 71%, 52%);
  --rock-gradient-2: hsl(349, 70%, 56%);
  --liazrd-gradient-1: hsl(261, 73%, 60%);
  --liazrd-gradient-2: hsl(261, 72%, 63%);
  --spock-gradient-1: hsl(189, 59%, 53%);
  --spock-gradient-2: hsl(189, 58%, 57%);

  /* Neutral */

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --bg-score: hsl(0, 0%, 98%);

  /* Bg */

  --bg-gradient-1: hsl(214, 47%, 23%);
  --bg-gradient-2: hsl(237, 49%, 15%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: linear-gradient(
    to left,
    var(--bg-gradient-1),
    var(--bg-gradient-2)
  );
  padding: 2rem;
}
